.box{
    margin-top: 150px;
    text-align: center;
    width: 100%;
}

.text{
    text-align: center;
    font-size: 28px;
    color: #ed145b;
}

.box{
    text-align: center;
    align-items: center;
}

.btnDetail{
    width: 300px;
}